[Unit]
Description=DFM AI Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=mendel
Environment=DISPLAY=:0
WorkingDirectory=/home/mendel/coral/DFM_FR/
ExecStart=/bin/bash /home/mendel/coral/DFM_FR/test_script.sh
Restart=always

[Install]
WantedBy=multi-user.target
